.container{
  max-width: 1000px;
  margin: 0 auto;
}

.ion-page{
  background: var(--ion-color-primary) ;
}

/* /* ion-content {
  /* --offset-bottom: auto !important; */
  /* --overflow: auto; */
  /* background: var(--ion-secondary, var(--ion-primary, #f4f5f8)) !important; */
  /* background: var(--ion-secondary) !important; */
  /* overflow: auto; */
/* } */

ion-content {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
}

ion-toolbar {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
}

ion-input.custom {
  --background: var(--ion-color-secondary);
  --color: var(--ion-color-secondary-contrast);
  --padding-bottom: 10px;
  --padding-end: 10px;
  --padding-start: 10px;
  --padding-top: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 60px;
}
ion-input.custom-1 {
  --background: var(--ion-color-secondary);
  --color: var(--ion-color-secondary-contrast);
  --padding-bottom: 10px;
  --padding-end: 10px;
  --padding-start: 10px;
  --padding-top: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 40px;
  width: 95vw;
}

ion-input.custom-2 {
  --background: var(--ion-color-light);
  --color: var(--ion-color-primary);
  --padding-bottom: 10px;
  --padding-end: 10px;
  --padding-start: 10px;
  --padding-top: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 40px;
}

ion-input.custom-3 {
  --background: var(--ion-color-secondary);
  --color: var(--ion-color-secondary-contrast);
  --padding-bottom: 10px;
  --padding-end: 10px;
  --padding-start: 10px;
  --padding-top: 10px;
  border-top-left-radius: 7.5px;
  border-top-right-radius: 7.5px;
  border-bottom-left-radius: 7.5px;
  border-bottom-right-radius: 7.5px;
  height: 60px;
  width: 80vw;
}

ion-input.custom-4 {
  --background: var(--ion-color-secondary);
  --color: var(--ion-color-secondary-contrast);
  --padding-bottom: 10px;
  --padding-end: 10px;
  --padding-start: 10px;
  --padding-top: 10px;
  border-top-left-radius: 7.5px;
  border-top-right-radius: 7.5px;
  border-bottom-left-radius: 7.5px;
  border-bottom-right-radius: 7.5px;
  height: 60px;
  width: 50vw;
}

ion-button.custom {
  --border-radius: 10px;
  height: 60px;
}

ion-button.custom-1 {
  --border-radius: 2px;
  width: 100vw;
}

ion-button.custom-2 {
  --border-radius: 2px;
  width: 50vw;
}

ion-button.custom-3 {
  --border-radius: 10px;
  height: 50px;
  width: 100px;
  margin-top: 8px;
}

ion-card {
  margin-top: 10px;

  margin-bottom: 10px;
  width: 100%;
}

ion-card-content {
  padding: 20px 0;
}

ion-toggle {
  --background: var(--ion-color-primary);
  --background-checked: var(--ion-color-light);
  --handle-background: var(--ion-color-light);
  --handle-background-checked: var(--ion-color-secondary);
}

h1.view-title {
  font-size: 35px;
}

ion-item.account-type {
  --border-radius: 8px;
  /* --border-radius: 8%; */
  --background: var(--ion-color-primary);
}

.account-type{
  background: var(--ion-color-primary);
}

.account-type.ios.list-ios {
  border-radius: 10px;
  /* border-radius: 10%; */
  background-color: var(--ion-color-primary);
}

.pos-down2\5 {
  position: relative;
  top: 2.5vh;
}
.pos-down5 {
  position: relative;
  top: 5vh;
}
.pos-down8 {
  position: relative;
  top: 8vh;
}
.pos-down10 {
  position: relative;
  top: 10vh;
}

.tx-amount {
  width: 33%;
  align-items: center;
}
